body {
    text-align: center;
    background-image: url(beachbikefiltered.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    padding-top: 76px;
}

html, body {
    
    color: white;
    font-family: Montserrat;
}

.pagewrapper {
    min-height: 100%;
}